* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.main-content {
	flex-grow: 1;
}

/* debug */

.debug .page-header {
    padding: 15px;
	background-color: rgb(167, 209, 229);
	min-height: 20px;
}



.debug [class^='col-'] {
	min-height: 10px;
	padding: 5px;
	border: 2px solid rgb(0, 0, 0);
	color: white;
	font-weight: 600;
}

/* header*/

.row {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(248, 182, 29);
	color: black;
	justify-content: center;
}

.col-3 {
	flex-grow: 1;
}

.col-6 {
	display: flex;
	flex-grow: 2;
	justify-content: center;
}

.align-text-header {
	text-align: right;
}

/* first section*/

.debug .section-1 {
	padding: 20px;
	background-color: rgb(59, 5, 237);
	min-height: 230px;
}


.row-1 {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(238, 127, 222);
	color: black;
	justify-content: center;
}

.col-8 {
	flex-basis: 80%;
	height: 240px;
}

/* section 2 */

.debug .section-2 {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	min-height: 230px;
}

.row-2 {
	display: flex;
	flex-wrap: row;
	color: black;
	justify-content: center;
}

.col-8a {
	flex-basis: 100%;
	height: 240px;
	background-color: blue;
}

.col-4a {
	flex-basis: 50%;
	height: 240px;
	background-color: rgb(235, 128, 199);
}

/* section 3*/
.debug .section-3 {
	padding: 20px;
	background-color: gray;
	min-height: 230px;
}

.col-8b {
	flex-basis: 50%;
	height: 240px;
	background-color: rgb(235, 128, 199);
}

.col-4b {
	flex-basis: 100%;
	height: 240px;
	background-color: blue;
}

/* fifth section */
.debug .section5 {
	padding: 20px;
	background-color: gray;
}

.col-8c {
	flex-basis: 100%;
	height: 500px;
	background-color: green;
}

/* footer */


.debug .page-footer {
    padding: 15px;
	background-color: rgb(33, 48, 67);
	min-height: 300px;
}

.col-4f {
	display: flex;
	height: 200px;
	flex-basis: 40%;
	background-color: rgb(241, 137, 26);
}

.col-2f {
	flex-basis:15% ;
	background-color: aqua;
}

/* footer 2nd part */

.footer2 {
	padding-top: 30px;
    border-color: red;
	border-bottom: 10px;
}

.col-3fa, .col-3fb {
	flex-basis: 15%;
	background-color: brown;
	/*justify-content: space-between;*/
}



	
	









